:root {
  --border-radius: 5px;
  --color-white: #ffffff;
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  color: var(--color-white);
}

.header {
  margin: 10px 0 40px;
}

.heading {
  margin: 0;
  font-size: 2.4rem;
}

.link {
  color: #61dafb;
}

.row {
  display: flow-root;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.label {
  display: block;
  font-weight: 700;
  margin-bottom: 4px;
  font-size: 1.6rem;
}

.input {
  padding: 10px;
  border: 0;
  border-radius: var(--border-radius);
  margin-right: 10px;
}

.button {
  background-color: purple;
  color: var(--color-white);
  border: 0;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button[disabled] {
  background-color: gray;
  color: #000000;
  cursor: not-allowed;
}

.form {
  margin-bottom: 40px;
}

.repos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.repo {
  background-color: #3c4557;
  display: block;
  padding: 20px;
  border-radius: var(--border-radius);
  color: var(--color-white);
  text-decoration: none;
  text-transform: capitalize;
}

.repo:focus,
.repo:hover {
  background-color: #4f5a6e;
}

.repo-heading {
  margin: 0 0 10px;
  font-size: 1.8rem;
}
